.modal {
  width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Apple Chancery',  cursive;
  
}

.modal-title {
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 32px;

}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-label {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 35px;
}

.modal-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
  margin: auto;
}

.modal-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 85%;
  margin: auto;
  margin-top: 10px;
}

.modal-button:hover {
  background-color: rgb(4, 49, 97);
}
