.button-container{
  display: flex;
  justify-content: center;
  margin-top: 16px;
  gap: 50px;

}
.single-button{
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Apple Chancery',  cursive;
  color: #3498db;
  cursor: pointer;
  
}
.single-button:hover{
  
  background-color:#3498db;
  color: whitesmoke;
 
}
.option-item{
  padding: 10px;
  font-family: 'Apple Chancery',  cursive;
  margin-left: 25px;

}

.header{
  color: #3498db;
  font-family: 'Apple Chancery',  cursive;
  margin-left: 25px;

}