/* Navbar.css */
.nav-contaienr{
  display: flex;
  flex-direction: column;
  
}
.navbar {
  display: flex;
  align-items: center;
  padding: 0 20px;
  padding-top:4vh ;
 
}

.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
  
}

.search-input {
  position: relative;
 

}

.search-input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #aaa;
}
.clear-icon {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  color: #aaa;
  cursor:pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-icon {
  font-size: 20px;
  color: #333;
}

.add-photo-button {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(45deg, #ff9900, #ff6600, #ff3300);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  outline: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon {
 color: #f37e30
}
